*{
    margin: 0; 
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
 }

body {
    font-family: Verdana;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #550e0c;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
    background-color: #550e0c;
    font-family: 'Playfair Display', Verdana;
}

.header {
    text-align: center;
    padding: 1em;
    border: 2px solid gray;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #cecfc3;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #cecfc3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #3b0b0c;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.container {
    padding: 1em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.col-md-4 {
    flex: 1;
    min-width: 250px;
    box-sizing: border-box;
}

.col-md-4 h2 {
    text-align: center;
}

.col-md-4 p {
    text-align: center;
}

.custom-img {
    width: 95%;
    height: auto;
}

.btn-custom {
    background-color: #5d585b;
    color: white;
    width: 100px;
    height: 40px;
    text-align: center;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #4a4547;
}

.footer {
    background-color: #3f1528;
    color: #cecfc3;
    text-align: center;
    padding: 1em;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .nav a {
        font-size: 19px;
    }

    .main h1 {
        font-size: 25px;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content img, .content p, .content figcaption {
        text-align: center;
    }
}