$font-family: 'Playfair Display', Verdana;
$font-size-base: 16px;
$line-height-base: 1.5;
$background-color: #cecfc3;
$border-color: gray;
$transition-duration: 0.3s;


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: $font-family;
  margin: 0;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background-color: $background-color;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}

.header {
  text-align: center;
  padding: 1em;
  border: 2px solid $border-color;
  grid-area: header;
}

.nav {
  @include flex-center;
  justify-content: space-around;
  padding: 1em;
  border: 2px solid $border-color;
  border-top: none;
  grid-area: nav;

  a {
    color: #3c344b;
    font-size: 25px;
    text-decoration: none;
    transition: box-shadow $transition-duration ease;

    &:hover {
      box-shadow: $box-shadow-hover;
    }
  }
}

.main {
  padding: 1em;
  grid-area: main;

  h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 40px;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1em;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    gap: 1em;
  }
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 3em;
  }
}

.footer {
  background-color: $background-color;
  color: #3c344b;
  text-align: center;
  padding: 1em;
  grid-area: footer;

  p a {
    color: black;
    text-decoration: none;

    &:hover {
      box-shadow: $box-shadow-hover-footer;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;

    a {
      font-size: 19px;
    }
  }

  .main h1 {
    font-size: 25px;
  }

  .content {
    grid-template-columns: 1fr;

    img, p, figcaption {
      text-align: center;
    }
  }
}